.ddev
/core/
database/migrations/.migrations.log
database/seeders/UserSeeder.php
database/devflow.sqlite
public/server.php
public/plugins/*
public/themes/BootstrapBusiness
public/themes/VaporChild
public/themes/Vapor
public/site/335280811
public/site/2006661621
public/site/2788502497
public/site/3434681865
public/static/tmp/theme
resources/views/*.tpl
storage/app/cookies/cookie.*
storage/framework/cache/@psr*
storage/install.lock
storage/logs/*.log
/vendor/
.idea
.enc.key
.env
.env.old
.phpcs-cache
.php-cs-fixer.cache
.phpunit.result.cache
composer.lock
cron-log.txt
difflist.txt
releases.json
time.log
update.json
