.ddev
core/composer.lock
core/vendor
database/migrations/.migrations.log
public/server.php
public/plugins/*
public/themes/*
public/sites/cms_
resources/views/*.tpl
storage/app/cookies/cookie.*
storage/framework/cache/@psr*
storage/install.lock
storage/logs/*.log
/vendor/
.idea
.enc.key
.env
.env.old
.phpcs-cache
.php-cs-fixer.cache
.phpunit.result.cache
composer.lock
difflist.txt
releases.json
update.json
