database/migrations/.migrations.log
public/plugins/AdminBar
public/plugins/CookieConsent
public/plugins/NewsWidget
public/sites/cms_
resources/views/*.tpl
storage/app/cookies/cookie.*
storage/framework/cache/@psr*
storage/install.lock
storage/logs/*.log
/vendor/
.idea
.env
.env.local
.phpcs-cache
.php-cs-fixer.cache
.phpunit.result.cache
composer.lock
difflist.txt
releases.json
update.json